*{
    margin:0;
    padding:0;
}

body{
    
    color:#fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
   
}

#cena{
    background:url("img/cena.jpg");
    background-size:cover;
}

h1{
    text-align: center;
    color:#051663;
}
strong{
    font-size:1.2em;
}

img{
    width:550px;
    height: auto;
    float: right;
    margin: 0 auto;
    border:1px solid black;
    border-radius: 50%;
}

a{
    color:#00051c;
}

#raspored{
    text-align: center;
    width:100%;
    margin:0 auto;
}

table{
    font-size:36px;
    border:2px solid black;
}

th,td{
    border:2px solid black;
    padding: 5px;
}

th{
    color:red;
}

#raspored{
    background: #ddd;
    color:#000;
}